{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List of Customers</h4>
            <div class="row">
                <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <a href="/customers/new" class="btn btn-outline-primary">Add Customers</a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="order-listing_filter" class="dataTables_filter float-right"><label><input
                                        type="search"
                                        class="form-control"
                                        placeholder="Search"
                                        aria-controls="order-listing"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" role="grid"
                                       aria-describedby="order-listing_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Order #: activate to sort column ascending"
                                            style="width: 82.1px;">Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Purchased On: activate to sort column ascending"
                                            style="width: 140.988px;">Description
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Customer: activate to sort column descending"
                                            aria-sort="ascending" style="width: 102.387px;">Rate
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Ship to: activate to sort column ascending"
                                            style="width: 79.0125px;">Billing Type
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Base Price: activate to sort column ascending"
                                            style="width: 110.562px;">Tax Rate
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1"
                                            colspan="1" aria-label="Purchased Price: activate to sort column ascending"
                                            style="width: 160.3px;">Code
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                        <tr role="row" class="odd">
                                            <td class="">{{ service.name }}</td>
                                            <td class="">{{ service.description }}</td>
                                            <td class="sorting_1">${{ service.rate }}</td>
                                            <td>${{ service.billing_type }}</td>
                                            <td>{{ service.vat_rate }}</td>
                                            <td>{{ service.service_code }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}